{% extends "member/member_dashboard.html" %}
{% block title %}
    Deposit Funds
{% endblock %}

{% block content %}
<div class="member-content">
    <h1 class="page-title">Deposit Funds</h1>
    <div class="deposit-container" style="max-width:100%;">
        <form method="POST" action="{{ url_for('deposit') }}" class="deposit-form">
            <div class="form-group">
                <label for="amount" class="form-label">Deposit Amount:</label>
                <input class="form-input" type="number" id="amount" name="amount" required min="1" step="0.01" placeholder="Enter amount to deposit">
            </div>
            <button type="submit" class="btn btn-primary">Deposit</button>
        </form>
    </div>
</div>
{% endblock %}